{% load static %}
{% load leaflet_tags %}


<!DOCTYPE HTML>
<html lang ="en">
<head>
<meta charset= "UTF-8">
<meta name="viewport" content ="width = device-width,initial-scale=1.0">
<meta http-equiv ="X-UA-Compatible"  content ="ie=edge">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<title> title1 </title>
{{form.media}}
</head>
<body>
{% block content %}
<h1> Hello World </h1>
{{results}}
<form method="POST">
    {% csrf_token %}
<input name="place_id" type="text">place_id
<input name="lat_lng" type="text">lat_lng

  <button type="submit" class='btn btn-primary'>submit</button>

</form>

{% endblock %}
<script>
    function map_init_basic (map, options) {
     
        L.marker([26.163032258502717, 32.70989823068392]).addTo(map);
       
    }
    
</script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
<html>